{% extends "base.html.twig" %}
{% block title %}Register{% endblock %}

{% block body %}
<div class="container-fluid register">
    <div class='row col-10 justify-content-center m-0 p-0 '>

        <h1>New Profile</h1>

        {{form_start(form, {'attr' :{'class':'w-100 h-100 p-0 m-0'}})}}

        <div class='row col-6 justify-content-center m-0 p-0'>
            {{form_widget(form, {'attr' :{'class':'w-50 p-0 m-0 justify-content-center'}})}}
        </div>
        <div class='row col-6 justify-content-center w-100 p-0 m-0'>
            <button class="btn btn-secondary mt-3">Submit</button>
        </div>

        {{form_end(form)}}

    </div>
</div>
{% endblock %}